# Virtual environment
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
*/migrations/*.py[cod]
*/migrations/__pycache__/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Secrets
.env

