{% extends "stationeryhub/layout/base.html" %}

{% block content %}
<div class="container mt-4">
  <h3>Search Results{% if query %} for "{{ query }}"{% endif %}</h3>

  <div class="row">
    {% for product in results %}
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card h-100 border-0">
          <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid product-img bg-white">
          <div class="card-body text-center text-black">
            <p>
              {{ product.name }} <br>
              <i class="bi bi-star-fill" style="color: yellow;"></i>
              <i class="bi bi-star-fill" style="color: yellow;"></i>
              <i class="bi bi-star-fill" style="color: yellow;"></i>
              <i class="bi bi-star-fill" style="color: yellow;"></i>
              <i class="bi bi-star-fill" style="color: yellow;"></i>
            </p>
            <p class="fw-bold">Rs. {{ product.price }}</p>
            <p class="fw-bold">Buy 3 or more @ Rs. {{ product.offer_price }}</p>
            <a href="" class="btn add-to-cart-btn bg-white text-black">Add to Cart</a>
          </div>
        </div>
      </div>
    {% empty %}
      <p class="d-flex align-items-center justify-content-center text-danger fw-bold" style="min-height: 60vh;">
        No products found.
      </p>
    {% endfor %}
  </div>
</div>
{% endblock %}
